html, body {
background-image: url("../images/pizzubg4.jpg");
background-size: 100% auto;
width: 100%;
height: 100%; 
margin:0;
padding:0;
}



/* caption muokkaa taulukon otsikon kokoa */
caption {
font-size:500%;
font-weight:bold;

}

/* otsikon tyyli opacityn kanssa testailua */

#otsikkoloota {
	width:72%;
	margin-left:15%;
	color:white;
	background-color: rgba(0,0,0,0.55);
}





/* pizzalistataulukko muokkaa taulukon leveytt‰, ym */
#pizzalistataulukko  table {
	width:72%;
	margin-left:15%;
	
}

/* td padding lis‰‰ tilaa taulukon vaakasolun ymp‰rill‰ */
#pizzalistataulukko	td {
padding:20px;
}

/* th padding-left siirt‰‰ taulukon otsikkosolua samalle tasolle muun tekstin kanssa*/
#pizzalistataulukko th, td {
    text-align: left;
	padding-left:20px;  
}

/* TƒRKEƒ, tekee PIZZALISTATAULUKON joka toisen vaakarivin eriv‰riseksi*/
#pizzalistataulukko tr:nth-child(even){background-color: #f2f2f2}
#pizzalistataulukko tr:nth-child(odd){background-color: white}

/* th:n background-color tekee otsikkosolusta vihre‰n ja color otsikoiden v‰rist‰ valkoisen */
#pizzalistataulukko th {
    background-color: #6FD630;
    color: white;
}

 /* m‰‰ritt‰‰ navigaatiopalkin pysym‰‰n aina ylh‰‰ll‰, sen v‰rin ja leveyden */    	
 #navigaatio {
 position:fixed;
 top:0;
 width:100%;
 background-color: black;
 }
 
 #navigaatio li a.current{
   color: black;
   background:white;
}
 #logoloota {
 background-color: rgba(0,0,0,0.55);
 margin-left:15%;
 width:72%;
 height:33%;
 }

 .logo {
height: 100%;
margin-left:29%;

 }
 
 #lootavasen {

 display:inline-block;
 float:left;
 width:33.3%;
 }
 
 #lootakeski {
 display:inline-block;
 float:center;
 height:100%;
 width:33.3%;
 text-align:center;
 color:white;
 }
 
 #lootaoikea {
 display:inline-block;
 float:right;
 height:100%;
 width:33.3%;
 text-align:center;
 }
 
/* M‰‰ritt‰‰ lootan leveyden, v‰rin, korkeuden, sijainnin ja kaiken */			
#loota1 {
		
		
    	width:72%;
    	height:100%;
      	padding:15px;
		margin-left:15%;
		}

		
/* M‰‰ritt‰‰ footerin v‰rin, leveyden, sijainnin ja tekstin ominaisuudet */			
	#footer {
	
	background-color:gray;
	width:72%;
   	color:white;
   	text-align:left;
	height:120px;
	padding:5px;
	clear:both;
	position:bottom;
	margin-left:15%;
	}
	
	#footer_sis‰ltˆ {float:left;}
	#footer_kartta {float:right;}
	
/* Sijoittaa nappulat loota1:n sis‰ll‰ haluttuun sijaintiin */
#nappulasijainti {
position:fixed;
top: 50%;
right:80px;
}
	
/* Vihre‰n nappulan class, joka m‰‰ritt‰‰ sen ominaisuudet */
	
	.button {
    background-color: #6FD630;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:10px;
}

.button2 {
    background-color: #6FD630;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:10px;
}

/* lisaa-pizza.jsp syˆttˆkent‰n * pakollinen merkin t‰hti punaiseksi */

	.pakollinen {color:red}
	
/* Varoitustekstit */

div.pakollinenLoota {
	min-width: 100px;
	max-width: 500px;
	border: 2px solid #F44336;
	padding: 0px 10px 0px 10px;
}
	