html, body {
background-image: url("../images/pizzubg4.jpg");
background-size: 100% auto;
width: 100%;
height: 100%; 
margin:0;
padding:0;
}

#loginloota {
 background-color: rgba(0,0,0,0.55);
 color:white;
 padding:15px;
 position:absolute;
 margin-left:40%;
 top:20%;
 width:20%;
 height:auto;
 border-radius:15px;
 
}

/* caption muokkaa taulukon otsikon kokoa */
caption {
font-size:500%;
font-weight:bold;

}



#otsikkoloota {
	
	padding:10px;
	margin-top:10px;
	font-size:350%;
	width:72%;
	margin-left:15%;
	color:white;
	background-color: rgba(0,0,0,0.6);
}

/* scrollbar taulukon oikeassa reunassa*/
#tablescoller {
	overflow:auto;
	height:650px;
	}

/* pizzalistataulukko muokkaa taulukon leveyttä, ym */
#tuotelistataulukko  table {
	width:72%;
	margin-left:15%;
	}

/* td padding lisää tilaa taulukon vaakasolun ympärillä */
#tuotelistataulukko	td {
padding:20px;
}

/* th padding-left siirtää taulukon otsikkosolua samalle tasolle muun tekstin kanssa*/
#tuotelistataulukko th, td {
    text-align: left;
	padding-left:20px;  
}

/* TÄRKEÄ, tekee PIZZALISTATAULUKON joka toisen vaakarivin eriväriseksi*/
#tuotelistataulukko tr:nth-child(even){background-color: rgba(255,255,255,0.8)}
#tuotelistataulukko tr:nth-child(odd){background-color: rgba(255,255,255,0)}

/* th:n background-color tekee otsikkosolusta vihreän ja color otsikoiden väristä valkoisen */
#tuotelistataulukko th {
    background-color: #6FD630;
    color: white;
}

 #logoloota {
 display: block;
 background-color: rgba(0,0,0,0.6);
 margin-left:15%;
 width:72%;
 height:33%;
 }

 /* määrää logon koon ja sijainnin*/
 .logo {
height: 100%;
margin-left:29%;
 }
 
 #lootavasen {
 display:inline-block;
 float:left;
 width:33.3%;
 }
 
 #lootakeski {
 display:inline-block;
 float:left;
 height:100%;
 width:33.3%;
 text-align:center;
 color:white;
 }
 
 #lootaoikea {
 display:inline-block;
 float:right;
 height:100%;
 width:33.3%;
 text-align:center;
 }
 
/* Määrittää lootan leveyden, värin, korkeuden, sijainnin ja kaiken */			
#loota1 {
		width:72%;
    	height:auto;
      	padding:15px;
		margin-left:15%;
		background-size: 100% 100%;
		background-color: rgba(255,255,255,0.95);
		}
		
#loota2 {
		
		width:72%;
    	height:auto;
      	padding:15px;
		margin-left:15%;
		
		background-size: 100% 100%;
		background-color: rgba(255,255,255,0.95)
		}

		
/* Määrittää footerin värin, leveyden, sijainnin ja tekstin ominaisuudet */			
	#footer {
	background-color:rgba(0,0,0,0.6);
	width:72%;
   	color:white;
   	text-align:left;
	height:120px;
	padding:5px;
	clear:both;
	position:bottom;
	margin-left:15%;
	}
	
	#footer_sisältö {float:left;}
	#footer_kartta {float:right;}
	
/* Sijoittaa nappulat loota1:n sisällä haluttuun sijaintiin */
#nappulasijainti {
position:fixed;
top: 50%;
right:15.5%;
}
	
/* Vihreän nappulan class, joka määrittää sen ominaisuudet */
	.button {
    background-color: #6FD630;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:10px;
}

.button2 {
    background-color: #6FD630;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:10px;
}

.pizzalistabutton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
	width:48%;
	
	
	
}

.juomabutton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
	width:48%;

	}

/* lisaa-pizza.jsp syöttökentän * pakollinen merkin tähti punaiseksi */

.pakollinen {color:red}
	

	
/* Varoitustekstit */
.error {color:red}
div.pakollinenLoota {
	min-width: 100px;
	max-width: 500px;
	border: 2px solid #F44336;
	padding: 0px 10px 0px 10px;
}

#ostoskoributton1{

    background-color: #6FD630;
    border: none;
    color: white;
    padding: 13px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	

	
}


#ostoskoributton2 {
 background-color: #6FD630;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	border-radius:10px;
	position:fixed;
	top: 4%;
	right:15.5%;
	
}
	
	
	
	
	
	
	
	
/* Janen jutut */	
	
label {
	display: block;
	float: left;
	width: 175px;
}

input.text {
	width: 200px;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

div.mauste {
	float: left;
	display: inline-block;
	width: 96px;
}	

div.lisaakoriin {
	display:inline-block;
	float:left;
	width: 100px;
}

div.mausteet {
	display: inline-block;
	float: left;
	max-width: 192px;
}