body {
background-image: url("../images/italolib.jpg");
background-size: 100% 100%;
}

caption {
font-size:170%;
font-weight:bold;}



#pizzalistataulukko  table {
	width:80%;
	margin-left:10%;
	padding:20px;
  
}

#pizzalistataulukko	td {
padding:20px;
}
#pizzalistataulukko th, td {
    text-align: left;
	padding-left:20px;  
}


#pizzalistataulukko tr:nth-child(even){background-color: #f2f2f2}

#pizzalistataulukko th {
    background-color: #4CAF50;
    color: white;
}

#nappulasijainti {
margin-top:20px;
margin-left:10%

}


     	
 #navigaatio {
 position:fixed;
 top:0;
 width:100%;
 background-color: black;
 }
 
 #navigaatio li a.current{
   color: black;
   background:white;
}
 
				
#loota1 {
		background-color: white;
    	width:72%;
    	height:auto;
		border-radius:20px;
      	padding:15px;
		margin-top:5%;
		margin-bottom:20px;
		margin-left:15%;
		}
			
	#footer {
	
	background-color:black;
	width:100%;
   	color:white;
   	text-align:left;
	height:120px;
	padding:5px;
	clear:both;
	position:bottom;
	}
	
	#footer_sisältö {float:left;}
	#footer_kartta {float:right;}
	
	.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:10px;
}

#pizzantietojensyotto fieldset 
  {display:inline-block;
           width:100px;}
	.pakollinen {color:red}
	